#ig, #tw{
cursor: pointer;
}


/*--------------- footer section --------------- */
.collab {
    text-align: right;
}

.collab p {
    font-weight: lighter !important;
    margin-bottom: 20px;
}

.hr {
    background: var(--foreground-default);
    height: 1px;
}

.info h4 {
    font-size: 18px;
    font-weight: lighter;
}

.info p {
    color: grey;
    font-weight: lighter;
}

.info li {
    font-weight: lighter;
    color: var(--foreground-default);
    font-size: 18px;
    padding-left: 20px;
}

#fb::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #3b5998;
}


#ig::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: var(--foreground-primary);
}


#tw::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: var(--foreground-primary);
}

#personal .image{
    width: 150px;
    height: 80px;  
    margin-top: 20px;  
    -webkit-transition: all 0.3s ease-out;  
    transition: all 0.3s ease-out;  
    background: var(--image);  
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
}

#media, #address {
    text-align: right;
}
#address h4{
    color: var(--foreground-default);
}
#media ul {
    list-style: none;
}

#media ul li {
    display: inline-block;
}

@media(max-width: 768px) {
    .collab, #personal, #media, #address {
          text-align: center;
    }

    .info ul {
          margin: 0 0 0 -22px;
          padding: 0;
    }
}

/*--------------- work page --------------- */

.hero-content {
    margin-left: 0%;
}

.hero-content p {
    font-weight: 300;
    line-height: 36px;
    color: grey;
}

.hero-content h6 {
    text-align: left;
    color:var(--foreground-default);
}

@media(max-width: 768px) {
    .hero-content {
          padding-top: 50px;
          width: 96%;
          margin: 0 auto;
    }
}
