
            <!--------------- hero section starts here --------------->
            <div class="hero">
                    <div class="header">
                          <h1 class="name"><span class="hello">Hello</span> , my name is Carlodaniel  
                                <br>and I'm a web developer</h1>
                    </div>
              </div>
  
              <div class="scroll-down"></div>
              <!--------------- hero section ends here --------------->
  
  
  
              <!--------------- projects section starts here --------------->
              <div class="container-fluid">
                    <br><br><br>
  
                    <h6>Projects</h6>
  
                    <div class="vertical"></div>
                    <br>
  
                    <div class="whitespace"></div>
                    <div class="whitespace"></div>
  
                    <div class="row">
                          <div class="col-lg-4"></div>
  
                          <div class="col-lg-8 project project1 wow fadeInUp" onclick="location.href='https://daniel-dewww.github.io/website-ui-house-lannister/'">
                          </div>
                    </div>
  
                    <div class="whitespace"></div>
  
                    <div class="row">
                          <div class="col-lg-8 project project2 wow fadeInUp"   onclick="location.href='https://daniel-dewww.github.io/stark-webdesign/'" >
                             
                          </div>
  
                          <div class="col-lg-4"></div>
                    </div>
  
  
                    
              </div>
              <!--------------- projects section ends here --------------->
  
