
            <!--------------- hero section starts here --------------->
            <div class="hero">
                    <div class="header">
                          <h1 class="name"><span class="hello">Hello</span> , my name is Carlodaniel  
                                <br>and I'm a web developer</h1>
                    </div>
              </div>
  
              <div class="scroll-down"></div>
              <!--------------- hero section ends here --------------->
  
  
  
              <!--------------- projects section starts here --------------->
              <div class="container-fluid">
                    <br><br><br>
  
                    <h6>Projects</h6>
  
                    <div class="vertical"></div>
                    <br>
  
                    <div class="whitespace"></div>
                    <div class="whitespace"></div>
                        <!--project 01-->
                    <div class="row">
                              <div class="col-lg-6 col-md-12">
                                          <div class="project project1 wow fadeInUp m-auto" >
                                          </div>
                                        </div>
                          <div class="col-lg-6 col-md-12 m-auto">
                                <div class="h1 text-center">Lannister</div>
                                <p class="text-center">
                                    Website home
                                    made with Greensock framework for animations, in addition to html, css and javascript
                                </p>
                                  <div class="botones text-center">
                                        <li>
                                                <a href="https://daniel-dewww.github.io/website-ui-house-lannister/" target="_blank">View</a>
                                                <div id="fill"></div>
                                        </li>
                                <li>
                                  <a href="https://github.com/daniel-dewww/website-ui-house-lannister" target="_blank">GitHub</a>
                                  <div id="fill"></div>
                                  </li>
                              </div>
                              </div>
                           
                    </div>
  
                    <div class="whitespace"></div>
                        <!--project 02-->
                    <div class="row">
                              <div class="col-lg-6 col-md-12">
                          <div class="project project2 wow fadeInUp m-auto"   >
                             </div>
                          </div>
  
                          <div class="col-lg-6 col-md-12 m-auto">
                                    <div class="h1 text-center">Stark</div>
                                    <p class="text-center">
                                          Website design of fictional home made with greensock animations, in addition to html, sass and javascript
                                    </p>
                                      <div class="botones text-center">
                                            <li>
                                                    <a href="https://daniel-dewww.github.io/stark-webdesign/" target="_blank">View</a>
                                                    <div id="fill"></div>
                                            </li>
                                    <li>
                                      <a href="https://github.com/daniel-dewww/stark-webdesign" target="_blank">GitHub</a>
                                      <div id="fill"></div>
                                      </li>
                                  </div>
                                  </div>
                    </div>
                    <div class="whitespace"></div>
                    <!--project 03-->
                    <div class="row">
                       
                        <div class="col-lg-6 col-md-12">
                     <div class="project project3 wow fadeInUp m-auto" >
                     </div>
                   </div>
                        <div class="col-lg-6 col-md-12 m-auto">
                              <div class="h1 text-center">Timeweather</div>
                              <p class="text-center">
                                    Application on climate information in cities, made with Openweather api and consumed by Angular
                              </p>
                                <div class="botones text-center">
                                      <li>
                                              <a href="https://daniel-dewww.github.io/angular-openweather-build/" target="_blank">View</a>
                                              <div id="fill"></div>
                                      </li>
                              <li>
                                <a href="https://github.com/daniel-dewww/angular-weather-app" target="_blank">GitHub</a>
                                <div id="fill"></div>
                                </li>
                            </div>
                        </div>
                          
                  </div>
                  <div class="whitespace"></div>
                        <!--project 04-->
                    <div class="row">
                              <div class="col-lg-6 col-md-12">
                          <div class="project project4 wow fadeInUp m-auto"   >
                             </div>
                          </div>
  
                          <div class="col-lg-6 col-md-12 m-auto">
                                    <div class="h1 text-center">Templates</div>
                                    <p class="text-center">
                                          Application that is in process, where templates downloaded with angular and other front-end technologies such as bootstrap, angular material, bulma, etc.

                                    </p>
                                     
                                  </div>
                    </div>
                    <div class="whitespace"></div>
                   
                  
  
                    
              </div>
              <!--------------- projects section ends here --------------->
  
