<div class="wrapper">

    <!--------------- navbar starts here --------------->
    <nav>
          <span id="brand">
                <a routerLink="/">{{_is.info.nombre_corto}}</a>
          </span>

          <ul id="menu">
                <li><a routerLink="/">home<span>.</span></a></li>
                <li><a routerLink="/work">work<span>.</span></a></li>
                <li><a routerLink="/about">about me<span>.</span></a></li>
                <li><a routerLink="/contact">contact<span>.</span></a></li>
          </ul>

          <div id="toggle">
                <div class="span">menu</div>
          </div>

    </nav>

    <div id="resize">
          <div class="close-btn">close</div>

          <ul id="menu">
                <li><a routerLink="/">home<span>.</span></a></li>
                <li><a routerLink="/work">work<span>.</span></a></li>
                <li><a routerLink="/about">about me<span>.</span></a></li>
                <li><a routerLink="/contact">contact<span>.</span></a></li>
          </ul>
    </div>

    <!--------------- navbar ends here --------------->
