<div class="wrapper">

    <!--------------- navbar starts here --------------->
    <nav>
          <span id="brand">
                <a routerLink="/">
                <!--  {{_is.info.nombre_corto}}-->
                <div class="image" ></div>
              
            
            
            </a>
          </span>
          <div class="themeToggle">
          <a (click)="returnLight()">Light</a>
          <div class="horizontal"></div>
          <a  (click)="returnDark()">Dark</a>
      </div>
          <ul id="menu">
                
                <li><a routerLink="/">home<span>.</span></a>
                  <div id="fill"></div> 
            </li>
               
                <li><a routerLink="/about">bio<span>.</span></a>
                  <div id="fill"></div> 
            </li>
                
          </ul>

          <div id="toggle">
                <div class="span">menu</div>
          </div>

    </nav>

    <div id="resize">
          <div class="close-btn">close</div>

          <ul id="menu">
                <li><a routerLink="/">home<span>.</span></a></li>
               
                <li><a routerLink="/about">bio<span>.</span></a></li>
      
          </ul>
    </div>

    <!--------------- navbar ends here --------------->
